.home-products {
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
    @include mq(galaxys5land) {
      font-size: 2rem;
    }
    span:nth-child(1) {
      color: $gray-like;
    }
    span:nth-child(2) {
      color: $light-blue;
    }
  }
  .cards-wrapper {
    width: 80vw;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mq(galaxys5land) {
      flex-direction: column;
      gap: 40px;
      margin: 20px auto;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        padding: 20px 0px;
        color: $light-blue;
        font-weight: bold;
        padding-bottom: 20px;
        @include mq(small) {
          font-size: 2rem;
        }
      }
      &__image {
        max-width: 350px;
        @include mq(small) {
          max-width: 235px;
        }
      }
    }
  }
}
