.banner {
  height: 700px;
  position: relative;
  &__image-wrapper {
    height: 100%;
    background: url("../images/home_christmas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__text-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      text-transform: uppercase;
      font-size: 50px;
      margin: 0;
      padding: 10px;
      span:nth-child(1) {
        color: #0ac2ff;
      }
      span:nth-child(2) {
        color: #333333;
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 60px;
      margin: 0;
      padding: 10px;
      span:nth-child(1) {
        color: #333333;
      }
      span:nth-child(2) {
        color: #0ac2ff;
      }
    }
    h3 {
      color: #333333;
      margin: 0;
      padding: 10px;
      font-size: 20px;
    }
  }
}
