.navigation-wrapper {
  display: flex;
  padding: 10px;
  width: 1000px;
  margin: 20px auto;
  .navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    li {
      padding: 10px;
      a {
        text-decoration: none;
        color: $gray-like;
        transition: 0.3s;
        &:visited {
          color: $gray-like;
        }
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}
