.navigation-wrapper {
  display: flex;
  padding: 10px;
  width: 1000px;
  margin: 20px auto;
  @include mq(small) {
    justify-content: center;
    width: 100%;
    transition: 0.4s;
  }
  @include mq(galaxys5land) {
    position: fixed;
    top: 40px;
    left: -250px;
    background-color: ivory;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    z-index: 3;
    width: 200px;
  }
  .logo {
    @include mq(small) {
      display: none;
    }
  }
  .navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    @include mq(galaxys5land) {
      flex-direction: column;
      position: relative;
      padding-top: 20px;
    }
    &__close-mobile {
      display: none;
      @include mq(galaxys5land) {
        display: block;
        font-size: 3rem;
        position: absolute;
        top: -5px;
        right: -15px;
        padding: unset !important;
      }
    }
    li {
      padding: 10px;
      a {
        text-decoration: none;
        color: $gray-like;
        transition: 0.3s;
        font-size: 1.8rem;
        &:visited {
          color: $gray-like;
        }
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}
#logoMobile {
  display: none;
  @include mq(small) {
    display: block;
    @include flex;
    padding: 10px;
  }
  img {
    width: 300px;
    @include mq(galaxys5land) {
      width: 250px;
    }
  }
}
.bars {
  display: none;
  @include mq(galaxys5land) {
    display: block;
    font-size: 2.5rem;
    position: fixed;
    top: 60px;
    left: 15px;
    z-index: 2;
  }
}
