.product {
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: center;
  &__image {
    width: 350px;
    margin-bottom: 30px;
  }
  &__name {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  &__price {
    font-weight: bold;
    color: $light-blue;
    font-size: 1.8rem;
  }
}
