.top-bar {
  color: white;
  background-color: $light-blue;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-column-gap: 50px;
  justify-content: center;
  padding: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 2rem;
  @include mq(small) {
    grid-column-gap: 20px;
  }
  @include mq(galaxys5land) {
    grid-template-columns: 260px 200px;
    font-size: 1.5rem;
  }
  &__phone {
    @include mq(small) {
      text-align: center;
    }
  }
  &__icon {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
