.top-bar {
  color: white;
  background-color: $light-blue;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-column-gap: 50px;
  justify-content: center;
  padding: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 20px;
  &__icon {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
