.contact {
  width: 80%;
  margin: 0 auto;
  h1 {
    text-align: center;
    color: $light-blue;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-bottom: 30px;
    @include mq(galaxys5land) {
      font-size: 2rem;
    }
  }
  &__container {
    @include flex;
    gap: 50px;
    @include mq(medium) {
      gap: 30px;
    }
    @include mq(small) {
      flex-direction: column;
    }
  }
  img {
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #222);
    @include mq(medium) {
      max-width: 400px;
    }
    @include mq(galaxys5land) {
      max-width: 300px;
    }
  }
  &__organizer {
    p {
      font-size: 2.1rem;
      line-height: 180%;
      @include mq(galaxys5land) {
        font-size: 1.7rem;
      }
      span {
        vertical-align: sub;
        margin-right: 5px;
      }
    }
  }
}
