.information-container {
  width: 80%;
  margin: 0px auto;
  h2 {
    color: $light-blue;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.5rem;
    margin: 2.5rem 0;
    @include mq(small) {
      font-size: 2rem;
    }
  }
  &__div {
    @include flex;
    @include mq(small) {
      flex-direction: column;
    }
    img {
      max-height: 400px;
    }
    div {
      flex-basis: 50%;
    }
  }
  p {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 180%;
    color: $gray-like;
    @include mq(small) {
      font-size: 1.7rem;
    }
    span {
      color: $light-blue;
      font-weight: bolder;
    }
  }
  &__author {
    font-weight: bolder;
    margin-top: 1rem;
    text-align: right;
  }
  &__par {
    margin: 2.5rem 0;
  }
  ul {
    list-style: none;
    margin-top: 30px;
    @include flex;
    flex-direction: column;
    gap: 20px;
    li {
      font-size: 2rem;
      letter-spacing: 3px;
      line-height: 180%;
      @include mq(small) {
        font-size: 1.7rem;
      }
      span {
        margin-right: 10px;
        img {
          max-width: 30px;
          vertical-align: sub;
          @include mq(small) {
            max-width: 20px;
          }
        }
      }
    }
  }
}
