.legality-container {
  width: 80%;
  margin: 0 auto;
  img {
    display: block;
    margin: 3rem auto;
    @include mq(small) {
      max-width: 300px;
    }
  }
  h1 {
    text-align: center;
    color: $light-blue;
    font-size: 3rem;
    @include mq(small) {
      font-size: 2rem;
    }
  }
  &__par {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 180%;
    margin-bottom: 2.5rem;
    @include mq(small) {
      font-size: 1.7rem;
    }
    span {
      color: $light-blue;
      font-weight: bolder;
    }
    &--super {
      font-weight: bolder;
      letter-spacing: 4px;
      margin-bottom: 25px;
      display: flex;
      gap: 20px;
      border: 1px solid #ddd;
      padding: 20px;
      span {
        color: $gray-like;
      }
      .paragraph {
        font-size: 15rem;
        display: block;
        text-align: center;
        @include flex;
      }
    }
  }
}
